<table style="margin-left:  450px;padding-top: 100px;"><tr><td style="width: 200px;">
  <h2 style="color: white;background-color: gray;height: 90px;">   {{details.name}} </h2>
 <img src="../assets/{{details.source}}" style="width: 400px;border: 1px">
</td><td style="background-color: blue;width: 200px;">

<h4 style="color: white">Temperature:   {{details.temp}}</h4> 
<h4 style="color: white">Superficie:    {{details.Superficie}}</h4>
<h4 style="color: white">Densite:   {{details.Densite}}</h4> 
 <h4 style="color: white">Climat:  {{details.Climat}}</h4>

</td>
</tr>
</table>
