<table style="background-color:gray;position: right;"><tr><td style="width: 800px;margin-left: 100px;">
  <h2 style="color: white">
    Liste meteo
  </h2>
  </td><td style="width: 800px;margin-left: 100px;">
  <form >
      <input type="text"  name="search" [(ngModel)]="searchText" placeholder="Seach" data-toggle="tooltip" data-placement="left" 
      style="height: 40px;width: 235px;">
    <button  (click)="getSearch()"  style="color:white;background-color: blue;height: 43px">Search</button>
      </form>
    </td>
    </tr>
    </table>
  
    <mat-nav-list  *ngFor="let mat of meteos | search:searchText">
       
      <a class="nava" mat-list-item [routerLink]="['/meteo',mat.name]" style="background-color: gray;width: 300px;margin-left: 790px;">{{mat.name}}</a>
  
    </mat-nav-list>
  
  
  
  